name: PS Workflow with Export

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Enter your name'
        required: true
        default: 'Alan Amirtharaj'
      environment:
        description: 'Choose the environment'
        required: true
        type: choice
        options:
          - development
          - staging
          - production
          - testing
          - QA
          - UAT
      department:
        description: 'Enter your department'
        required: true
      project_name:
        description: 'Enter your project name'
        required: true

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Enhanced PowerShell Script with Export
        run: |
          pwsh -File ./script.ps1 -Name '${{ github.event.inputs.name }}' -Environment '${{ github.event.inputs.environment }}' -Department '${{ github.event.inputs.department }}' -ProjectName '${{ github.event.inputs.project_name }}' -FilePath './output.txt'
      - name: Upload Output
        uses: actions/upload-artifact@v4
        with:
          name: output-file
          path: ./output.txt
